<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Bandau Farms</title>
    <!-- Favicon -->
    <link rel="icon" href="/public/img/core-img/favicon.ico">
    
    <script src="/public/css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <!--bootstrap css included manually-->
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <!--bootstrap js included-->
    <script src="/public/js/bootstrap.min.js"></script>
    <!--for IE 9-->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--for IE 9-->

    <!-- Core Stylesheet -->
    <link rel="stylesheet" type="text/css" media="screen" href="public/css/animate.css" />
    <link rel="stylesheet" href="/public/css/classy-nav.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/magnific-popup.css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/site.css">
</head>