<!DOCTYPE html>
<html>
<% include partials/head.ejs %>

    <body>
        <% include layouts/header.ejs %>
            <!-- ##### Breadcrumb Area Start ##### -->
            <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('/public/img/bg-img/18.jpg');">
              <div class="container h-100">
                <div class="row h-100 align-items-center">
                  <div class="col-12">
                    <div class="breadcrumb-text">
                      <h2>Invest with us</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="famie-breadcrumb">
              <div class="container">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index"><i class="fa fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Invest with us</li>
                  </ol>
                </nav>
              </div>
            </div>
            <!-- ##### Breadcrumb Area End ##### -->
          
            <!-- ##### Famie Benefits Area Start ##### -->
            <section class="famie-benefits-area pb-5">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <div class="benefits-thumbnail mb-50">
                      <img src="/public/img/bg-img/2.jpg" alt="">
                    </div>
                  </div>
                </div>
          
                <div class="row justify-content-center">
                  <!-- Single Benefits Area -->
                  <div class="col-12 col-sm-4 col-lg">
                    <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="100ms">
                      <img src="/public/img/core-img/digger.png" alt="">
                      <h5>Best Services</h5>
                    </div>
                  </div>
          
                  <!-- Single Benefits Area -->
                  <div class="col-12 col-sm-4 col-lg">
                    <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="300ms">
                      <img src="/public/img/core-img/windmill.png" alt="">
                      <h5>Farm Experiences</h5>
                    </div>
                  </div>
          
                  <!-- Single Benefits Area -->
                  <div class="col-12 col-sm-4 col-lg">
                    <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="500ms">
                      <img src="/public/img/core-img/cereals.png" alt="">
                      <h5>100% Natural</h5>
                    </div>
                  </div>
          
                  <!-- Single Benefits Area -->
                  <div class="col-12 col-sm-4 col-lg">
                    <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="700ms">
                      <img src="/public/img/core-img/tractor.png" alt="">
                      <h5>Farm Equipment</h5>
                    </div>
                  </div>
          
                  <!-- Single Benefits Area -->
                  <div class="col-12 col-sm-4 col-lg">
                    <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="900ms">
                      <img src="/public/img/core-img/sunrise.png" alt="">
                      <h5>Organic food</h5>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- ##### Famie Benefits Area End ##### -->
          
            <!-- ##### Invest Area Start ##### -->
            <section class="about-us-area">
              <div class="container">
                <div class="row align-items-center">
          
                  <!-- About Us Content -->
                  <div class="col-12 col-md-8">
                    <div class="about-us-content mb-100">
                      <!-- Section Heading -->
                      <div class="section-heading">
                        <p>Invest with us</p>
                        <h2><span>Let Us</span> Brief You On Our Investment Packages</h2>
                        <img src="/public/img/core-img/decor.png" alt="">
                      </div>
                      <p>Bandau farms is a registered agri-business firm which is situated at JK, in the Offinso North District in the Ashanti region of Ghana. 
                        Bandau farms engages in Pona yam farming with three years of experience when it comes to yam farming. 
                        As an organization, we continue to adopt sustainable modern farming methods to enhance productivity. 
                      </p>
                      <p>
                        In order to build interest in agriculture among university graduates and National service personnel, we offer a simple, affordable and detailed investment packages for investors to invest in our organization. 
                        For instance, due to the high cost of seed yam, Bandu farms has adopted minisett techniques of producing 20,000 tubers of seed yam for 2020 yam cultivation season. 
                        With this, we provide cheap and accessible seed yam for our investors.
                      </p>
                      <a href="/contact" class="btn famie-btn mt-30">Contact us to get full details of our investment packages</a>
                    </div>
                  </div>
          
                  <!-- Famie Video Play -->
                  <div class="col-12 col-md-4">
                    <div class="famie-video-play mb-100">
                      <img src="/public/img/bg-img/6.jpg" alt="">
                      <!-- Play Icon -->
                      <a href="http://www.youtube.com/watch?v=7HKoqNJtMTQ" class="play-icon"><i class="fa fa-play"></i></a>
                    </div>
                  </div>
          
                </div>
              </div>
            </section>
            <!-- ##### Invest Area End ##### -->

            <!-- ##### Invest Area Start 1 ##### -->
            <section class="about-us-area">
              <div class="container">
                <div class="row align-items-center">
          
                  <!-- About Us Content -->
                  <div class="col-12 col-md-6">
                    <div class="about-us-content mb-100">
                      <!-- Section Heading -->
                      <div class="section-heading">
                        <h2><span>PACKAGE ONE</span></h2>
                        <img src="/public/img/core-img/decor.png" alt="">
                      </div>
                      <table class="table table-bordered" style="width:100%;overflow-x: scroll;">
                        <thead>
                            <tr>
                                <th>Package</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Crop: Pona yam (D.rotundata)</td>
                                <td>Estimated unit price: ₵ 4</td>
                            </tr>
                            <tr>
                                <td>Quantity: 100</td>
                                <td>Quantity: 100</td>
                            <tr>
                                <td>Duration: 9 months</td>
                                <td>Estimated revenue: (Gh₵) 400</td>
                            </tr>
                            <tr>
                                <td>Total cost: (GH₵) 244</td>
                                <td>Estimated profit: (Gh₵) 156</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Package</th>
                                <th>Amount</th>
                            </tr>
                        </tfoot>
                      </table>
                      
                      <a href="/contact" class="btn famie-btn mt-30">Contact Us</a>
                    </div>
                  </div>
          
                  <!-- About Us Content -->
                  <div class="col-12 col-md-6">
                    <div class="about-us-content mb-100">
                      <!-- Section Heading -->
                      <div class="section-heading">
                        <h2><span>PACKAGE TWO</span></h2>
                        <img src="/public/img/core-img/decor.png" alt="">
                      </div>
                      <table class="table table-bordered" style="width:100%;overflow-x: scroll;">
                        <thead>
                            <tr>
                                <th>Package</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Crop: Pona yam (D.rotundata)</td>
                                <td>Estimated unit price: ₵ 4</td>
                            </tr>
                            <tr>
                                <td>Quantity: 100</td>
                                <td>Quantity: 100</td>
                            <tr>
                                <td>Duration: 8 months</td>
                                <td>Estimated revenue: (Gh₵) 1600</td>
                            </tr>
                            <tr>
                                <td>Total cost: (GH₵) 915</td>
                                <td>Estimated profit: (Gh₵) 685</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Package</th>
                                <th>Amount</th>
                            </tr>
                        </tfoot>
                      </table>
                      <a href="/contact" class="btn famie-btn mt-30">Contact Us</a>
                    </div>
                  </div>
          
                </div>
              </div>
            </section>
            <!-- ##### Invest Area End 1 ##### -->

            <!-- ##### Invest Area Start 2 ##### -->
            <section class="about-us-area">
              <div class="container">
                <div class="row align-items-center">
          
                  <!-- About Us Content -->
                  <div class="col-12 col-md-6">
                    <div class="about-us-content mb-100">
                      <!-- Section Heading -->
                      <div class="section-heading">
                        <h2><span>PACKAGE THREE</span></h2>
                        <img src="/public/img/core-img/decor.png" alt="">
                      </div>
                      <table class="table table-bordered" style="width:100%;overflow-x: scroll;">
                        <thead>
                            <tr>
                                <th>Package</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Crop: Pona yam (D.rotundata)</td>
                                <td>Estimated unit price: ₵ 4</td>
                            </tr>
                            <tr>
                                <td>Quantity: 1000</td>
                                <td>Quantity: 1000</td>
                            <tr>
                                <td>Duration: 8 months</td>
                                <td>Estimated revenue: (Gh₵) 4000</td>
                            </tr>
                            <tr>
                                <td>Total cost: (GH₵) 2675</td>
                                <td>Estimated profit: (Gh₵) 1325</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Package</th>
                                <th>Amount</th>
                            </tr>
                        </tfoot>
                      </table>
                      <a href="/contact" class="btn famie-btn mt-30">Contact Us</a>
                    </div>
                  </div>
          
                  <!-- About Us Content -->
                  <div class="col-12 col-md-6">
                    <div class="about-us-content mb-100">
                      <!-- Section Heading -->
                      <div class="section-heading">
                        <h2><span>PACKAGE FOUR</span></h2>
                        <img src="/public/img/core-img/decor.png" alt="">
                      </div>
                      <table class="table table-bordered" style="width:100%;overflow-x: scroll;">
                        <thead>
                            <tr>
                                <th>Package</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cattle</td>
                            </tr>
                                <td>Duration: 6 months</td>
                                <td>Estimated revenue: (Gh₵) 2500</td>
                            </tr>
                            <tr>
                                <td>Total cost: (GH₵) 1940</td>
                                <td>Estimated profit: (Gh₵) 560</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Package</th>
                                <th>Amount</th>
                            </tr>
                        </tfoot>
                      </table>
                      <a href="/contact" class="btn famie-btn mt-30">Contact Us</a>
                    </div>
                  </div>
          
                </div>
              </div>
            </section>
            <!-- ##### Invest Area End 2 ##### -->
            
          
            <!-- ##### Testimonial Area Start ##### -->
            <section class="testimonial-area bg-img bg-overlay section-padding-100 jarallax" style="background-image: url('/public/img/bg-img/yam3.jpg');">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <!-- Testimonial Slides -->
                    <div class="testimonial-slides owl-carousel">
          
                      <!-- Single Slide -->
                      <div class="single-slide">
                        <!-- Testimonial Text -->
                        <div class="testi-text d-flex">
                          <div class="quote-icon">
                            <img src="/public/img/core-img/quote.png" alt="">
                          </div>
                          <h5>"Thank you for your organic products. My children like your products and they use for breakfast. We are loving the pure milk, freshly fruit and of course our staple, Brown Rice Bread. Your Gluten Free breads truly make me feel
                            lighter and uplifted. It's the only bread I plan to eat for the rest of my life. I will use them for many years."</h5>
                        </div>
                        <!-- Testimonial Thumbnail Name -->
                        <div class="testimonial-thumbnail-name d-flex align-items-center">
                          <div class="testimonial-thumbnail">
                            <img src="/public/img/bg-img/16.jpg" alt="">
                          </div>
                          <div class="testimonial-name">
                            <h5>Mrs Lara Sullivan</h5>
                            <h6>Customer</h6>
                          </div>
                        </div>
                      </div>
          
                      <!-- Single Slide -->
                      <div class="single-slide">
                        <!-- Testimonial Text -->
                        <div class="testi-text d-flex">
                          <div class="quote-icon">
                            <img src="/public/img/core-img/quote.png" alt="">
                          </div>
                          <h5>"Thank you for your organic products. My children like your products and they use for breakfast. We are loving the pure milk, freshly fruit and of course our staple, Brown Rice Bread. Your Gluten Free breads truly make me feel
                            lighter and uplifted. It's the only bread I plan to eat for the rest of my life. I will use them for many years."</h5>
                        </div>
                        <!-- Testimonial Thumbnail Name -->
                        <div class="testimonial-thumbnail-name d-flex align-items-center">
                          <div class="testimonial-thumbnail">
                            <img src="/public/img/bg-img/16.jpg" alt="">
                          </div>
                          <div class="testimonial-name">
                            <h5>Ajoy Das</h5>
                            <h6>Client</h6>
                          </div>
                        </div>
                      </div>
          
                      <!-- Single Slide -->
                      <div class="single-slide">
                        <!-- Testimonial Text -->
                        <div class="testi-text d-flex">
                          <div class="quote-icon">
                            <img src="/public/img/core-img/quote.png" alt="">
                          </div>
                          <h5>"Thank you for your organic products. My children like your products and they use for breakfast. We are loving the pure milk, freshly fruit and of course our staple, Brown Rice Bread. Your Gluten Free breads truly make me feel
                            lighter and uplifted. It's the only bread I plan to eat for the rest of my life. I will use them for many years."</h5>
                        </div>
                        <!-- Testimonial Thumbnail Name -->
                        <div class="testimonial-thumbnail-name d-flex align-items-center">
                          <div class="testimonial-thumbnail">
                            <img src="/public/img/bg-img/16.jpg" alt="">
                          </div>
                          <div class="testimonial-name">
                            <h5>Akash Khan</h5>
                            <h6>Customer</h6>
                          </div>
                        </div>
                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- ##### Testimonial Area End ##### -->
          
            
        
            <% include layouts/footer.ejs %>
    </body>

</html>