<!DOCTYPE html>
<html>
<% include partials/head.ejs %>

    <body>
        <% include layouts/header.ejs %>
            <h2>this is the market page</h2>
        <% include layouts/footer.ejs %>
    </body>

</html>